/* 
    Document   : style
    Created on : 04.07.2013, 11:31:31
    Author     : dmitry,estet
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    color: #555;
    margin:0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -36px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 36px;
}
.site-footer {
    border-top: 1px solid #000;
    color: #999;
}

h1 {
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
}

th {
    text-align: center;
    border-bottom: 1px solid;
}

td {
    padding: 10px;
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
}

a:link:hover {
   color: #be7429;
   font-weight: normal;
   text-decoration: underline;
}


#menu ul {
    list-style-type:none;
    width:auto;
    position:relative;
    display:block;
    height:33px;
    font-size:.8em;
    background:url(bg.png) repeat-x top left;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    border:1px solid #000;
    margin:0;
    padding:0;
}

#menu li {
    display:block;
    float:right;
    margin:0;
    padding:0;
}

#menu li > a,
#menu li > #login {
    float:right;
    color:#A79787;
    text-decoration:none;
    height:24px;
    padding:9px 15px 0;
    font-weight:normal;
}

#username {
    text-decoration: underline;
    font-weight: bold;
}

#menu li #login a {
    color: #86a36b;
}

#menu li > a:hover,
#menu li > #login a:hover,
#menu .active {
    color:#fff;
    background:url(bg.png) repeat-x top left;
    text-decoration:none;
}

#menu .active > a,
#menu .active > #login{
    color:#fff;
    font-weight:700;
}

#menu ul {
    background-color:#629600;
}
#menu li > a:hover,
#menu li > #login a:hover,
#menu li.active {
    background-color:#7AB900;
}

#menu #username {
    display:inline-block;
}
