/* 
    Document   : style
    Created on : 04.07.2013, 11:31:31
    Author     : dmitry,estet
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    color: #555;
    margin:0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -36px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 36px;
}
.site-footer {
    border-top: 1px solid #000;
    color: #999;
}

h1 {
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table.form {
    width: 580px;
    padding: 10px;
    background-color: #c5e7e0;
}

.form th {
    text-align: center;
    border-bottom: 1px solid;
}

.form td {
    padding: 10px;
}

a:link {
   color: #be7429;
   font-weight: normal;
   text-decoration: none;
}

a:link:hover {
   color: #be7429;
   font-weight: normal;
   text-decoration: underline;
}

button {
    color: #444;
    display: block;
    font: normal 14px arial, sans-serif;
    height: 32px;
    margin-right: 6px;
    padding-right: 0px; /* sliding doors padding */
    text-decoration: none;
}

#menu ul {
    list-style-type:none;
    width:auto;
    position:relative;
    display:block;
    height:33px;
    font-size:.8em;
    background:url(bg.png) repeat-x top left;
    font-family:Verdana,Helvetica,Arial,sans-serif;
    border:1px solid #000;
    margin:0;
    padding:0;
}

#menu li {
    display:block;
    float:right;
    margin:0;
    padding:0;
}

#menu li > a,
#menu li > #login {
    float:right;
    color:#A79787;
    text-decoration:none;
    height:24px;
    padding:9px 15px 0;
    font-weight:normal;
}

#username {
    text-decoration: underline;
    font-weight: bold;
}

#menu li #login a {
    color: #86a36b;
}

#menu li > a:hover,
#menu li > #login a:hover,
#menu .active {
    color:#fff;
    background:url(bg.png) repeat-x top left;
    text-decoration:none;
}

#menu .active > a,
#menu .active > #login{
    color:#fff;
    font-weight:700;
}

#menu ul {
    background-color:#629600;
}
#menu li > a:hover,
#menu li > #login a:hover,
#menu li.active {
    background-color:#7AB900;
}

#menu #username {
    display:inline-block;
}


/********
 * Pretty tables
 ********/

table a:link {
    color: #666;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.sorting-focus {
    text-decoration: underline;
    display: inline;
}