/* 
    Document   : style
    Created on : 04.07.2013, 11:31:31
    Author     : dmitry,estet
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0;
}

ul {
    margin-left: 30;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    color: #555;
    margin:0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -36px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 36px;
}
.site-footer {
    border-top: 1px solid #000;
    color: #999;
}


a
{
    color:black;
}

a.showall
{
    cursor:pointer;
}

table
{
    border: 0px solid #e6e6e6;
    border-collapse: collapse;
    margin-top:15px;
    margin-bottom:15px;
}


table.outertable
{
    margin-top:15px;
    margin-bottom:30px;
    border: 1px solid #e6e6e6;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding:10px;
    background-color:white;
}

td

{
    text-align:center;
    border-radius:0px;
    padding:8px;
    border:inherit;
}

td.left
{
    text-align:left;
}

.innertable
{
    /* Nothing* /
    }

    .outertable
    {
    /* Nothing */
}

.title
{
    font-size:12pt;
    text-align:center;
    font-weight:bold;
    margin:15px 0px 15px;
}

.infobox
{
    border: 1px solid #e6e6e6;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:white;
    margin: 10px;
    padding: 10px;
    text-align:center;
}

.infobox_l
{
    border: 1px solid #e6e6e6;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:white;
    margin: 30px 10px;
    padding: 10px;
    text-align:left;
}

.infobox_error
{
    font-weight:bold;
    color: #aa1111;
}

li
{
    margin:10px;
}

p.text
{
    margin-left: 10px;
}

.userinfo
{
    text-align:right;
    font-size:9pt;
    margin-bottom:30px;
}

h2
{
    font-size:20pt;
    font-weight:bold;
}

.tickets_table
{
    font-size:8pt;
    border:1px solid #e6e6e6;
    background-color:#FCFCFC;
    margin-top:15px;
    margin-bottom:30px;
}

table.tickets_table
{
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tickets_table_header
{
    font-size:8pt;
    border: 1px solid #e6e6e6;
    font-weight:bold;
}

tr.tickets_table:hover
{
    background-color:white;
}

.wrapper
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}

.hidden
{
    display:none;
    width:100%;
    text-align:center;
    border: 1px solid #e6e6e6;
    /*border-radius:5px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

.closebar
{
    background-color: #f3f3f3;
    width:100%;
    height: 20px;
    text-align:center;
    cursor:pointer;
}

.hs
{
    display:none;
}

select
{
    margin-top:5px;
}

.mass_input
{
    margin-top:10px;
}


.sorting-focus {
    text-decoration: underline;
    display: inline;
}

form {
    margin-bottom: 0;
}

.delForm {
    display:inline;
}